<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Thetis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/></startup><userSettings>
        <Thetis.Properties.Settings>
            <setting name="WindowPosition" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="BigSMeterOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SMeterBackgroundImg" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TopMost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SplitLoc" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="ConsoleWinPos" serializeAs="String">
                <value>-100, -100</value>
            </setting>
            <setting name="ConsoleWinSize" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="ConsoleWinState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="SMeterGlass" serializeAs="String">
                <value>False</value>
            </setting>
        </Thetis.Properties.Settings>
    </userSettings>
</configuration>
